<%- include('../include/top.ejs') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../include/navbar.ejs') %>
    <main>
        <h1 style="padding: 2rem">Error 404 Not Found</h1>
</main>
<%- include('../include/bottom.ejs') %>