<%- include('../include/top.ejs') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <main>
        <h1 style="padding: 2rem">Telah terjadi error, mohon maaf atas ketidaknyamanya</h1>
    </main>
<%- include('../include/bottom.ejs') %>